@import url(./iconfont.css);

/* 设置进度条的颜色 */
#nprogress .bar {
    background: #f66495 !important;
}

.mg-mini{
    margin-top: 10px;
}

.mg-small{
    margin-top: 15px;
}

.mg-medium{
    margin-top: 20px;
}

.border-radius{
    border-radius: 4px;
}

.pointer{
    cursor: pointer;
}

